*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 10px;
    font-family: "DMSans", sans-serif;
    font-size: 16px;
    color: var(--white-100);
    background-color: var(--black-100);

    #app{
        display: flex;
        gap: 10px;
    }
}